@import '../../styles/variables';

.inputContainer{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    height: 56px;
    background-color: $color_white;
    transition: background-color .2s;
    border: 1px solid $color_border;

    .label{
        position: absolute;
        left: 16px;
        font-size: 15px;
        font-weight: 500;
        color: $color_bodylight;
        transition: all .2s;
        cursor: text;
    
        &_small{
            transform: scale(.8) translateY(calc(6px - 100%)) translateX(-3px);
            transform-origin: left top;
        }
    }

    .input{
        color: $color_heading;
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        border: none;
        background-color: transparent;
    
        &:focus{
            border: none;
            outline: none;
        }
        &:focus + .label{
            transform: scale(.8) translateY(calc(6px - 100%)) translateX(-3px);
            transform-origin: left top;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $color_white inset !important;
        }
    }
    .password{
        cursor: pointer;
        position: absolute;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.inputContainer_active{
    background-color: $color_grey100;

    .input{
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $color_grey100 inset !important;
        }
    }
}