.button{
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	min-width: 56px;
	max-height: 100%;
	height: 56px;
	border: none;
	border-radius: 5px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .1s;
}
.white{
	background-color: #F5F6F8;
}
.white:hover{
	background-color: var(--primary);
	color: var(--white);
}
.min{
	max-width: 56px;
	padding: 0;
}
.mid{
	padding: 16px;
	min-width: 75px;
	display: flex;
	justify-content: space-between;
}
.full{
	width: 100%;
}
.primary{
	color: var(--white);
	background-color: var(--primary);
	transition: all .2s;
}
.primary:hover{
	background-color: var(--green);
	transition: all .2s;
}
.ghost svg{
	fill:var(--black);
	transition: .2s;
}
.ghost{
	color: var(--gray);
	background-color: var(--gray-light);
	transition: all .2s;
}
.ghost:hover{
	background-color: var(--green);
	color: var(--white);
	transition: all .2s;
}
.primary svg,
.ghost:hover svg {
	fill: var(--white);
	transition: .2s;
}	
.arrow{
	width: 20px;
	height: 20px;
}
.arrow:hover{
	fill: var(--white);
}
.down{
	transform: rotate(90deg);
}
.left{
	transform: rotate(-180deg);
}
.plus{
	display: flex;
	justify-content: center;
	align-items:center;
}
.plus svg{
	fill:white;
	width: 32px;
}