.table{
	margin-top: 34px;
	padding-left: 24px;
	width: 100%;
	display: grid;
	grid-template-rows: 30px auto 104px;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	overflow-x: scroll;
}
.tfoot{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.tfoot_item{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-width: 250px;
}
.mark{
	padding: 6px 14px;
}
.available{
	color: #20A144;
	background-color: #20a14520;
}
.disabled{
	color: #E56E19;
	background-color: #e56e1920;
}
.thead{
	display: grid;
	grid-template-columns: 42px minmax(350px, 3fr) repeat(5, minmax(150px, 1fr)) 40px;
	grid-template-rows: 30px;
	color: #818386ae;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	border-bottom: 1px solid #E1E3E6;
}
.thead svg{
	margin-left: 10px;
}
.tbody{
	display: grid;
	grid-template-columns: 42px minmax(450px,3fr) repeat(5,minmax(150px,1fr)) 40px;
	grid-template-rows: 80px;
	border-bottom: 1px solid #E1E3E6;
}
.setting{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 42px;
	border-radius: 100%;
	transition: .2s;
}
.setting:hover{
	background-color: #728dde2d;
	transition: .3s;
}
.item{
	display: flex;
	align-items: center;
}