.wrapper {
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 90px 1fr;
	min-height: 100vh;
	grid-template-areas:
		"header sidebar"
		"header body"
	;
}
.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;		
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 30px;
}

.body {
	grid-area: body;
	margin-left: 30px;
}