$color_accent: #3A63DE;
$color_orange: #FF9054;
$color_red: #FD726A;
$color_yellow: #FFCA61;
$color_pink: #F9DDC5;
$color_green: #44CB7F;
$color_blue: #37CFD1;
$color_purple: #FFFFFF;
$color_white: #FFFFFF;
$color_black: #4D4D4D;
$color_heading: #333333;
$color_bodydark: #595F69;
$color_bodylight: #818386;
$color_border: #E1E3E5;
$color_grey100: #F2F5FA;
$color_grey200: #E3E6EB;
$color_grey300: #D2D4D9;

$font_poppins: var(--font-poppins);