@import '../styles/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font_poppins;
}

button{
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input[type='password']::-ms-reveal,
input[type='password']::-webkit-reveal {
  display: none;
}